# **Racing Data Analysis Project**

Our primary goal is to analyze and determine which cars dominate on specific tracks and identify the most versatile vehicles.

## **1\. Methodology**

###  **1.1. Accrual of points**

Let's award first 10 racers in every race using that system:

1. 1st place: 10 points + 3 bonuses = 13 points
2. 2nd place: 9 points + 2 bonuses = 11 points
3. 3rd place: 8 points + 1 bonus = 9 points
4. 4th place: 7 points
5. 5th place: 6 points
6. 6th place: 5 points
7. 7th place: 4 points
8. 8th place: 3 points
9. 9th place: 2 points
10. 10th place: 1 point



### **1.2. Weighing and normalizing points**

In the gt-world-challenge-europe championships, different tracks may have a different number of races with different durations. There may be 5 races on one track, and 25 on another.

To cope with the varying number of races and their duration, it is important to normalize the scores so that the results are comparable. This can be done in several ways:


### **1.2.1. Weighing by the race duration**

Let's develop a system where points will be multiplied by a coefficient directly proportional to the duration of the race.

Determine the base length of the race = 50 laps.<br>
If the race is longer, for example 64 laps, the points are multiplied by a factor (64/50).<br>
If the race is shorter, for example 42 laps, the points are multiplied by a factor (42/50).<br>
So, if a win is worth 13 points in a 50-lap race, in a 64-lap race it will be worth 13 * (64/50) = 16.64 points.


####  **1.2.2. Normalizing by the number of races**

Divide the total points at each track by the number of races at that track.
For example: If the Mercedes-AMG GT3 scored 60 points in Barcelona in total 3 races, we will divide 60 by 3.


### **1.3. Data visualization**

Present the results graphically for clarity:<br>
Bar Graphs: Displays total points scored or weighted average for each car.

## **2\. Load Libraries**

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## **3\. Load Data**

In [3]:
df = pd.read_parquet(".\\cleaned_data\\race_data.parquet")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7319 entries, 0 to 7318
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Season                7319 non-null   int64
 1   Meeting               7319 non-null   object
 2   Event name            7319 non-null   object
 3   Pos                   7319 non-null   int64
 4   Car #                 7319 non-null   int64
 5   Class                 7319 non-null   category
 6   Special Class         7319 non-null   bool
 7   Drivers               7319 non-null   object
 8   Team                  7319 non-null   object
 9   Car                   7319 non-null   object
 10  Best lap set          7319 non-null   bool
 11  Time                  7319 non-null   object
 12  Time timedelta        7319 non-null   timedelta64[ns]
 13  Laps                  7319 non-null   int64
 14  Gap                   7319 non-null   object
 15  Gap Timedelta         7319 non-null   timedelta64[ns]
 16  Dropped off the Race  7319 non-null   bool
dtypes: bool(3), category(1), int64(4), object(7), timedelta64[ns](2)
memory usage: 772.4+ KB

## **4\. Add weighted 'Points' column**

In [23]:
# Definition of the point system
points_system = {1: 15, 2: 12, 3: 10, 4: 7, 5: 6, 6: 5, 7: 4, 8: 3, 9: 2, 10: 1}

# Function to assign points based on position
def assign_points(pos, laps, weighted, base_laps=50):
    base_points = points_system.get(pos, 0)
    if weighted == False:
        return base_points
    else:
        lap_factor = laps / base_laps
        return base_points * lap_factor

# Adding a 'Points' column to the DataFrame
df['Points'] = df.apply(lambda row: assign_points(row['Pos'], row['Laps'], weighted = True), axis=1)

#df['Non Weighted Points'] = df.apply(lambda row: assign_points(row['Pos'], row['Laps'], weighted = False), axis=1)

### **4.1. Normalizing the 'Points' column**

In [28]:
# Preparing the dataframe to store aggregate results
def normalizing_points(df, column_name):
    normalized_points = pd.DataFrame()

    # Retrieving unique tracks and seasons
    unique_tracks = df['Meeting'].unique()
    unique_seasons = df['Season'].unique()

    # Looping through all seasons and tracks to calculate points
    for season in unique_seasons:
        for track in unique_tracks:
            # Filtering data for a specific track and season
            filtered_data = df[(df['Meeting'] == track) & (df['Season'] == season)]
            
            # Checking if there is data for this track and season
            if not filtered_data.empty:
                # Calculating and summing points
                points_by_car = filtered_data.groupby('Car')[column_name].sum() / (len(filtered_data['Event name'].unique()))
                points_by_car = points_by_car.round(2).sort_values(ascending=False).reset_index()
                # Adding information about the track and season
                points_by_car['Meeting'] = track
                points_by_car['Season'] = season
                
                # Saving results in the aggregate dataframe
                normalized_points = pd.concat([normalized_points, points_by_car])

    # Resetting the index in the final dataframe
    normalized_points.reset_index(drop=True, inplace=True)
    return normalized_points

# Displaying the final dataframe
normalized_points = normalizing_points(df, 'Points')
normalized_points.head()

#normalized_points.to_csv('C:\\Users\\ireev\\Desktop\\Non Weighted Points.csv')

                           Car  Points    Meeting  Season
0             Mercedes-AMG GT3   34.63  Barcelona    2021
1   Porsche 911 GT3-R (991.II)   21.81  Barcelona    2021
2  Lamborghini Huracan GT3 Evo   16.40  Barcelona    2021
3              Audi R8 LMS GT3   11.65  Barcelona    2021
4              Ferrari 488 GT3   10.01  Barcelona    2021

---

In [29]:
df['Meeting'].unique()

array(['Barcelona', 'Brands Hatch', 'Circuit Paul Ricard', 'Magny-Cours',
       'Misano', 'Monza', 'Nürburgring', 'Circuit de Spa-Francorchamps',
       'Valencia', 'Zandvoort', 'Hockenheim', 'Imola'], dtype=object)

In [30]:
filtered_data = df[(df['Meeting'] == 'Circuit de Spa-Francorchamps') & (df['Season'] == 2023)]
total_points_by_car = filtered_data.groupby('Car')['Points'].sum().sort_values(ascending=False).reset_index()
total_points_by_car

                             Car   Points
0          Audi R8 LMS GT3 EVO 2  2582.94
1                     BMW M4 GT3  2431.52
2        Porsche 911 GT3 R (992)  1580.96
3               Mercedes-AMG GT3  1561.62
4           McLaren 720S GT3 EVO   243.58
5                Ferrari 296 GT3   117.26
6  Lamborghini Huracan GT3 EVO 2    60.42
7       Aston Martin Vantage GT3     0.00
8                Ferrari 488 GT3     0.00
9     Porsche 911 GT3-R (991.II)     0.00

---------------------

In [31]:
filtered_data = normalized_points[normalized_points['Season'] == 2023]
best_cars = filtered_data.groupby('Car')['Points'].sum().sort_values(ascending=False).reset_index()
best_cars

                              Car  Points
0           Audi R8 LMS GT3 EVO 2  266.63
1                      BMW M4 GT3  251.62
2                Mercedes-AMG GT3  131.90
3         Porsche 911 GT3 R (992)  103.23
4                 Ferrari 296 GT3  100.71
5            Mercedes-AMG GT3 EVO   99.64
6   Lamborghini Huracan GT3 EVO 2   28.62
7            McLaren 720S GT3 EVO   19.21
8        Aston Martin Vantage GT3    0.00
9                 Ferrari 488 GT3    0.00
10                  Honda NSX GT3    0.00
11            Honda NSX GT3 EVO 2    0.00
12    Lamborghini Huracan GT3 Evo    0.00
13     Porsche 911 GT3-R (991.II)    0.00

Define overall lider/s by points it's not really suitable. Because some race tracks has more racing events than others, such as on Spa. And this may skew our data.

## Best on Barcelona

In [10]:
filtered_data = normalized_points[(normalized_points['Season'] == 2023) & (normalized_points['Meeting'] == 'Barcelona')]
best_cars = filtered_data.groupby('Car')['Points'].sum().sort_values(ascending=False).reset_index()
best_cars

                             Car  Points
0                Ferrari 296 GT3   32.69
1           Mercedes-AMG GT3 EVO   28.59
2        Porsche 911 GT3 R (992)   18.37
3           McLaren 720S GT3 EVO    4.05
4          Audi R8 LMS GT3 EVO 2    2.23
5                     BMW M4 GT3    1.82
6       Aston Martin Vantage GT3    0.00
7  Lamborghini Huracan GT3 EVO 2    0.00
8               Mercedes-AMG GT3    0.00

Let's provide some statistical test/s to see if there is some statistically significant leader/s. Good options for us are ANOVA and Tukey Test.